@charset "UTF-8";

.bordaVermelha{
    border: solid 1px red;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
}
header{
    height: 60px;
    border: solid 1px red;
    
}

main{
    display: flex;
}
picture{
    border: 2px solid green;
    padding: 5px;
}
.imagem{
    width: 250px;
    border-radius: 20px;
    margin: 10px 10px 0 10px;
}
.botao{
    border: none;
    background-color: rgb(211, 209, 209);
    border-radius: 10px;
    margin: 5px;
}
.aColor{
    color: red;
}
.aUnderline:hover{
    text-decoration: underline black;
}

div{
    width: 350px;
}
.div1{
    background-image: url(/assts/img/backGroundDiv.jpg);
    background-position: center;
}
.div2{
    background-image: url(/assts/img/backGroundBody.webp);
    background-position: center;
}

footer{
    border: 1px solid red;
    height: 100px;
}